@import "tailwindcss";
@plugin "daisyui";
/* Custom Utility untuk Hexagon Clip Path */
@theme {
  --animate-fade-in: fade-in 0.5s ease-in-out;
}

/* Utility class manual untuk clip-path hexagon */
.clip-hexagon {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}